body{
    background-color: #2795fc;
    color: #ffffff;
}
h1{
    font-size: 50px;
    text-align: center;
}

/*Styling for user div*/
#users{
    background-color: #2795fc;
    color: #000000;
}
#users h3{
}
#users p{
}
.grid{
    display:grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    text-align: center;
}